<div class="center">
    <h1>Manage Employees</h1>
    <!-- opens dialog to create new employee -->
    <md-button class="md-raised md-primary" ng-click="ec.addNewEmployee()">Add New Employee</md-button>
</div>
<!-- lists all active employees -->
<h2>Active Employees</h2>
<div class="table">
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Clock In Code</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in ec.employeeArray">
                <td ng-hide="ec.editing === employee.id">{{employee.first_name}}</td>
                <td ng-hide="ec.editing === employee.id">{{employee.last_name}}</td>
                <td ng-hide="ec.editing === employee.id">{{employee.clockin_code}}</td>
                <td ng-hide="ec.editing === employee.id">
                    <md-button class="md-raised md-primary" ng-click="ec.viewEditFields(employee)">Edit</md-button>
                    <md-button class="md-raised md-primary" ng-click="ec.changeEmployeeStatus(employee)">Deactivate</md-button>
                </td>
                <td ng-show="ec.editing === employee.id">
                    <input ng-model="ec.employeeToEdit.first_name" type="text">
                </td>
                <td ng-show="ec.editing === employee.id">
                    <input ng-model="ec.employeeToEdit.last_name" type="text">
                </td>
                <td ng-show="ec.editing === employee.id">
                    <input ng-model="ec.employeeToEdit.clockin_code" type="text">
                </td>
                <td ng-show="ec.editing === employee.id">
                    <md-button ng-click="ec.editEmployee(ec.employeeToEdit)" class="md-raised md-primary">confirm changes</md-button>
                    <md-button ng-click="ec.cancelEdit()" class="md-icon-button md-warn">X</md-button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- show or hide deactivated employees -->
    <div class="center">
        <md-button class="md-raised md-primary" ng-hide="ec.showDeactivated" ng-click="ec.toggleDeactivatedEmployees()">Show
            Deactivated Employees</md-button>
        <md-button class="md-raised md-primary" ng-show="ec.showDeactivated" ng-click="ec.toggleDeactivatedEmployees()">Hide
            Deactivated Employees</md-button>
    </div>
    <!-- lists deactivated employees -->
    <div ng-show="ec.showDeactivated">
        <h2>Deactivated Employees</h2>
        <table>
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Clock In Code</th>
                    <th>Manage</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in ec.deactivatedEmployeeArray">
                    <td ng-hide="ec.editing === employee.id">{{employee.first_name}}</td>
                    <td ng-hide="ec.editing === employee.id">{{employee.last_name}}</td>
                    <td ng-hide="ec.editing === employee.id">{{employee.clockin_code}}</td>
                    <td ng-hide="ec.editing === employee.id">
                        <md-button class="md-raised md-primary" ng-click="ec.viewEditFields(employee)">Edit</md-button>
                        <md-button class="md-raised md-primary" ng-click="ec.changeEmployeeStatus(employee)">Activate</md-button>
                    </td>
                    <td ng-show="ec.editing === employee.id">
                        <input ng-model="ec.employeeToEdit.first_name" type="text">
                    </td>
                    <td ng-show="ec.editing === employee.id">
                        <input ng-model="ec.employeeToEdit.last_name" type="text">
                    </td>
                    <td ng-show="ec.editing === employee.id">
                        <input ng-model="ec.employeeToEdit.clockin_code" type="text">
                    </td>
                    <td ng-show="ec.editing === employee.id">
                        <md-button ng-click="ec.editEmployee(ec.employeeToEdit)" class="md-raised md-primary">confirm changes</md-button>
                        <md-button ng-click="ec.cancelEdit()" class="md-icon-button md-warn">X</md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>