<div class="center">
        <h1>Manage Employees</h1>

        <md-button class="md-raised md-primary" ng-click="ec.addNewEmployee()">Add New Employee</md-button>        
</div>

<h2>Active Employees</h2>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Clock In Code</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="employee in ec.employeeArray">
            <td ng-hide="ec.editing === employee.id">{{employee.first_name}}</td>
            <td ng-hide="ec.editing === employee.id">{{employee.last_name}}</td>
            <td ng-hide="ec.editing === employee.id">{{employee.clockin_code}}</td>
            <td ng-hide="ec.editing === employee.id">
                <md-button class="md-raised md-primary" ng-click="ec.viewEditFields(employee)">Edit</md-button>
                <md-button class="md-raised md-primary" ng-click="ec.changeEmployeeStatus(employee)">Deactivate</md-button>
            </td>
            <td ng-show="ec.editing === employee.id">
                <input ng-model="ec.employeeToEdit.first_name" type="text">
            </td>
            <td ng-show="ec.editing === employee.id">
                <input ng-model="ec.employeeToEdit.last_name" type="text">
            </td>
            <td ng-show="ec.editing === employee.id">
                <input ng-model="ec.employeeToEdit.clockin_code" type="text">
            </td>
            <td ng-show="ec.editing === employee.id">
                <md-button ng-click="ec.editEmployee(ec.employeeToEdit)" class="md-raised md-primary">confirm changes</md-button>
                <md-button ng-click="ec.cancelEdit()" class="md-icon-button md-warn">X</md-button>
            </td>
        </tr>
    </tbody>
</table>

<h2>Deactivated Employees</h2>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Clock In Code</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="employee in ec.deactivatedEmployeeArray">
            <td>{{employee.first_name}}</td>
            <td>{{employee.last_name}}</td>
            <td>{{employee.clockin_code}}</td>
            <td>
                <md-button class="md-raised md-primary" ng-click="ec.viewEditFields(employee)">Edit</md-button>
                <md-button class="md-raised md-primary" ng-click="ec.changeEmployeeStatus(employee)">Activate</md-button>
            </td>
        </tr>
    </tbody>
</table>