<h1>Manage Employees</h1>

<h2>Add New Employee</h2>
<form ng-submit="ec.addEmployee(ec.newEmployee)">
    First Name: <input ng-model="ec.newEmployee.first_name" type="text">
    Last Name: <input ng-model="ec.newEmployee.last_name" type="text">
    Clock In Code: <input ng-model="ec.newEmployee.clockin_code" type="number">
    <button>Add</button>
</form>

<h2 ng-show="ec.edit">Edit Employee</h2>
<form ng-show="ec.edit" ng-submit="ec.editEmployee(ec.employeeToEdit)">
        First Name: <input ng-model="ec.employeeToEdit.first_name" type="text">
        Last Name: <input ng-model="ec.employeeToEdit.last_name" type="text">
        Clock In Code: <input ng-model="ec.employeeToEdit.clockin_code" type="number">
        <button>Edit</button>
    </form>

<h2>Active Employees</h2>
<table>
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Clock In Code</th>
            <th>Manage</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="employee in ec.employeeArray">
            <td>{{employee.first_name}}</td>
            <td>{{employee.last_name}}</td>
            <td>{{employee.clockin_code}}</td>
            <td>
                <button ng-click="ec.viewEditFields(employee)">Edit</button>
                <button ng-click="ec.changeEmployeeStatus(employee)">Deactivate</button>
            </td>
        </tr>
    </tbody>
</table>

<h2>Deactivated Employees</h2>
<table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Clock In Code</th>
                <th>Manage</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="employee in ec.deactivatedEmployeeArray">
                <td>{{employee.first_name}}</td>
                <td>{{employee.last_name}}</td>
                <td>{{employee.clockin_code}}</td>
                <td>
                    <button ng-click="ec.editEmployee(employee)">Edit</button>
                    <button ng-click="ec.changeEmployeeStatus(employee)">Activate</button>
                </td>
            </tr>
        </tbody>
    </table>